/* sidebar.css */

.sidebar {
    position: relative;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    color: var(--text-color);
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
}