/* button.css */

.button {
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 9999px;
    padding: 8px 0;
    color: white;
    background: none;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    color: white;
    background-color: #4d4d4d;
}