/* table.css */

.table-wrapper {
    flex: 1;                   /* 残り高さを使う */
    overflow-y: auto;          /* 縦スクロール */
    padding-bottom: 68px;    /* 下のボタンエリア 余白 */
}

.points-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}
.points-table th,
.points-table td {
    width: 30%;
    padding: 8px 0px; /* 上下 左右 */
    text-align: right;
    white-space: nowrap; /* 改行させない */
}
.points-table th {
    position: sticky;
    top: 0;
    box-shadow: 0 1px 0 var(--quaternary-background-color);
    background-color: var(--secondary-background-color);
    font-weight: bold;
}
/* 左端の列 */
.points-table th:first-child,
.points-table td:first-child {
    width: 10%;
    padding-left: 12px;
    text-align: center;
}
/* 右端の列 */
.points-table th:last-child,
.points-table td:last-child {
    padding-right: 12px;
}

/* 追加·削除 ボタンエリア */
.list-controls {
    position: absolute;
    bottom: 8px;
    border-radius: 9999px;
    box-sizing: border-box;
    padding: 4px;
    display: flex;
    gap: 8px;
    background-color: var(--tertiary-background-color);
}
.list-controls button {
    position: relative;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 9999px;
    padding: 8px 0;
    color: var(--text-color);
    background: none;
    font-size: 16px;
    cursor: pointer;
}
.list-controls button:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -4px;
    top: 4px;
    bottom: 4px;
    width: 1px;
    background-color: var(--quaternary-background-color);
}
.list-controls button:hover {
    background-color: var(--quaternary-background-color);
}
.list-controls:has(button:hover) button::after {
    opacity: 0;
}