:root {
    --primary: #c9bddd;
    --secondary: #dfe4e7;
    --border-raius: 8px;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Verdana, "Hiragino Sans", 'Noto Sans JP', sans-serif;
    display: flex;
    overflow: hidden;
}
main {
    flex: 4;
}
input {
    height: 44px;
    width: 30%;
    border: none;
    border-radius: var(--border-raius);
    box-sizing: border-box;
    padding: 8px;
    outline: none;
    font-size: 16px;
    text-align: right;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

button {
    width: 88px;
    height: 44px;
    border: none;
    border-radius: var(--border-raius);
    font-size: 16px;
    color: white;
    background-color: var(--primary);
}

#three-canvas {
    width: 100%;
    height: 100%;
    display: block;
    overflow-x: auto;
}

#sidebar {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #f0f0f0;
}

#position-list {
    flex: 1;
    padding: 4px 8px;
    display: block;
    font-size: 12px;
    color: black;
    background-color: white;
}
#position {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

#toolbar {
    width: 100%;
    height: 60px;
    display: flex;
    gap: 8px;
}
