/* taskview.css */

#taskview {
    position: relative;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    color: white;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
}

