#tabbar {
    height: 48px;
    border: 1px solid #444;
    border-radius: 16px;
    padding: 8px;
    display: flex;
    gap: 8px;
    background-color: #222;
}

.tab {
    flex: 1;
    height: 100%;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: #222;
}
.tab:hover {
    background-color: #333;
}
.tab.active {
    background-color: #444;
}