/* toolbar.css */

#toolbar {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: auto;
    border: 1px solid var(--background-color);
    border-radius: 33px;
    box-sizing: border-box;
    padding: 8px;
    background-color: var(--secondary-background-color);
    display: flex;
    gap: 8px;
}

/* 各入力行 (X/Y/Z) */
.pointinput {
    height: 44px;
    border-radius: 9999px;
    padding-left: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--tertiary-background-color);
}

/* X, Y, Z ラベル */
.pointinput label {
    font-size: 16px;
    color: var(--text-color);
}

/* 数字入力 */
.pointinput input {
    width: 88px;
    height: 44px;
    flex: 1;
    padding: 8px;
    border: none;
    box-sizing: border-box;
    border-radius: 9999px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--background-color);
    text-align: right;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}



/* 下のボタン（✖️と✔️） */
.toolbar-buttons {
    display: flex;
    gap: 8px;
}

.toolbar-buttons button {
    width: 44px;
    height: 44px;
    padding: 8px 0;
    border: none;
    border-radius: 9999px;
    font-size: 16px;
    color: var(--text-color);
    background: none;
    cursor: pointer;
}

.toolbar-buttons button:hover {
    background-color: var(--tertiary-background-color