/* JointListView.css */

.sidebar-header {
    position: relative;
    padding-right: 48px;
}

.navigation-controls {
    position: absolute;
    top: 0;
    right: 0;
}

.joint-list-view {
    border: 1px solid var(--tertiary-background-color);
    box-sizing: border-box;
}