/* three.css */

#three-canvas {
    position: relative;
    width: 100%;
    height: 100%;
}

.label-renderer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.label {
    color: var(--text-color);
    font-size: 16px;
    pointer-events: none;
}