/* app.css */

:root {
    --primary: #c9bddd;
    --secondary: #dfe4e7;
}

html {
    font-family: Verdana, "Hiragino Sans", 'Noto Sans JP', sans-serif;
}

body, #root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h2 {
    margin: 4px 0 12px 0;
    font-size: 32px;
}

#app-container {
    width: 100%;
    height: 100%;
    display: flex;
}

#three-canvas-container {
    position: relative;
    flex: 1;
    min-width: 0;
}
