/* App.css */

#app-container {
    width: 100%;
    height: 100%;
}
#app-main {
    width: 100%;
    height: calc(100% - 44px);
    display: flex;
}
#three-canvas-container {
    position: relative;
    flex: 1;
    min-width: 0;
}
