/* app-header.css */

#app-header {
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    padding: 0 8px;
    display: flex;
    color: var(--text-color);
    background-color: var(--tertiary-background-color);
    align-items: center;
}

#app-header-left {
    flex: 1;
    display: flex;
}
#app-header-right {
    display: flex;
}

/* toggle */
.toggle {
    position: relative;
    width: 44px;
    height: 22px;
    display: inline-block;
}

.toggle input {
    width: 0;
    height: 0;
    opacity: 0;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 9999px;
    background-color: var(--quaternary-background-color);
    cursor: pointer;
    transition: 0.2s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    border-radius: 9999px;
    background-color: white;
    transition: 0.2s;
}

input:checked + .slider {
    background-color: var(--checked-color);
}
input:checked + .slider:before {
    transform: translateX(14px);
}